<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
     <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/ " class="nav-link link-dark px-2 active" aria-current="page">Главная страница</a></li>
      </ul>
    </div>
  </nav>
</head>
<body>
<div class="pd-embed" id="pd_1639237903556"></div>
<script type="text/javascript">
var _polldaddy = [] || _polldaddy;

_polldaddy.push( {
	type: 'iframe',
	title: 'Take Our Survey!',
	body: 'Please help us find out what you think by taking our survey at Crowdsignal.com',
    button: 'Get Started &raquo;',
    domain: 'skaghe46289.survey.fm',
    id: 'Новогодний-опрос',
    placeholder: 'pd_1639237903556'
} );

(function(d,c,j){if(!document.getElementById(j)){var pd=d.createElement(c),s;pd.id=j;pd.src='https://app.crowdsignal.com/js/survey/public-embed.js';s=document.getElementsByTagName(c)[0];s.parentNode.insertBefore(pd,s);}}(document,'script','pd-embed'));
</script>
<noscript><a href="https://skaghe46289.survey.fm/Новогодний-опрос">Take Our Survey!</a></noscript>
</body>
</html>